* {
  box-sizing: border-box;
}

html, body, ul, ol {
  margin:  0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  color: $black;
  height: 100%;
  background: $background;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

input, textarea, button {

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.section {
  margin-bottom: 90px;
  scroll-margin: 110px;
  position: relative;
}

.title {
  @extend %title;
}

.description {
  @extend %description;
}